* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: comic, sans-serif;
    background-color: #fdd2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    background: #75bae9;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

.task-input {
    display: flex;
    justify-content: space-between;
}

.task-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.task-input button {
    padding: 10px;
    background: #381b1b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.task-input button:hover {
    background: #555;
}

#task-list {
    list-style: none;
    margin-top: 20px;
}

#task-list li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li .delete-button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#task-list li .delete-button:hover {
    background: #c0392b;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #e61313;
}
